<div class="flex">
  <div id="appartments" class="w-8/12 content p-4 overflow-y-auto">
    <div class="p-4">
      <span class="text-sm">+ de 300 séjours · 23 févr. - 24 févr.</span>
      <h1 class="font-title font-bold text-3xl">Séjours dans la zone sélectionnée</h1>
    </div>
    <% @appartments.each do |appartment| %>
      <%= link_to appartment_path(appartment) do %>
        <div class="relative w-full flex h-82 flex-row border-b border-gray-300 p-4">
          <%= cl_image_tag appartment.photo.key, class: "rounded-lg h-56"%>
          <div class="p-4">
            <span> <%= appartment.address %></span>
            <h3 class="font-body text-xl font-light"><%= appartment.title %></h3>
            <div class="absolute bottom-4 right-4">
              <p><span class="font-bold text-2xl"><%= appartment.price %>€</span> / nuit</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="w-4/12">
    <%= image_tag('map', class: "content object-cover") %>
  </div>
</div>
