<div class="flex">
  <div id="appartments" class="w-8/12 content p-4 overflow-y-auto">
    <div class="p-4">
      <span class="text-sm"> 300+ stays ·  Feb 23 - 25</span>
      <h1 class="font-title font-bold text-3xl">Stays in the area selected</h1>
    </div>
    <% @appartments.each do |appartment| %>
      <%= link_to appartment_path(appartment) do %>
        <div class="relative w-full flex h-82 flex-row border-b border-gray-300 p-4">
          <%= cl_image_tag appartment.photo.key, class: "rounded-lg h-56"%>
          <div class="p-4">
            <span> <%= appartment.address %></span>
            <h3 class="font-body text-xl font-light"><%= appartment.title %></h3>
            <button class="absolute top-4 right-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
            </button>
            <div class="absolute bottom-4 right-4">
              <p><span class="font-bold text-2xl"><%= appartment.price %>€</span> / nuit</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="w-4/12">
    <%= image_tag('map', class: "content object-cover") %>
  </div>
</div>
